<app-header />

<main>
  <ul id="users">
    <!-- @for, @if, and @else are only available in Angular 17 and higher
     Use ngFor and ngIf, importing it in the componant class's import array, in older versions-->

    @for (user of users; track user.id) {
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        [avatar]="user.avatar"
        [name]="user.name"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [id]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p>
    <router-outlet />
  </p>
  }
</main>
