<app-header></app-header>

<main>
  <ul id="users">
    <!-- @for, @if, and @else are only available in Angular 17 and higher
     Use ngFor and ngIf, importing it in the componant class's import array, in older versions-->
     
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" />
    </li>
    }
    <!-- End @for -->
  </ul>

  @if (selectedUser) {
  <app-tasks [id]="selectedUser.id" [name]="selectedUser.name" />
  }
  <!-- End @if -->
  @else {
  <p id="fallback">Select a user to see their tasks</p>
  }
  <!-- End @else -->
</main>
